@tailwind base;
@tailwind components;
@tailwind utilities;

/*https://tailwindcss.com/docs*/
/*
html{
	font-family: 'Roboto';
}
*/
body{
	background-color: #DCDCDC;
	@apply mx-1 max-w-screen-xl mx-auto;
}

#versions{
	@apply border border-neutral-800 rounded p-2 mt-4 text-center;
}

.lightmode{
	@apply text-black;
}

.darkmode{
	@apply text-white;	
}

.main-generic{
	@apply rounded px-4 mx-1 pt-8 pb-16 my-1 shadow-lg;	
}

.lightmode main{
	@apply main-generic bg-white;
}

.darkmode main{
	@apply main-generic bg-black;
}

.tab{
	transform: scale(0.5);
}

.app-text-color{
	color: #FF8C00;
}

.app-background-color{
	background-color: #FF8C00;
}

.title{
	@apply text-3xl font-bold text-center mb-8;
}

.title-home{
	@apply text-2xl font-bold text-center mb-8 border-b;
}

.title-user-list,.title-carousel{
	@apply text-xl font-bold mb-4;
	@apply flex items-center justify-center;
}

.subtitle-home{
	@apply text-xl font-bold;
}

.title-subsection{
	@apply text-xl font-bold text-center my-4;
}

.user-title{
	@apply text-lg font-bold mb-2 text-center;
}

p{
	@apply mb-4;
}

a{
	@apply app-text-color;
}

#logo-home{
	width: 100%;
	max-width: 100px;
}

.lightmode #logo-text{
	@apply text-black;
}

.darkmode #logo-text{
	@apply text-white;
}

#logo-text{
	@apply font-bold text-2xl text-black text-opacity-70;
}

.lightmode .language-item{
	@apply py-2 text-black;
}

.darkmode .language-item{
	@apply py-2 text-white;
}	

.language-item-selected{
	@apply font-bold text-orange-400;
}

.lightmode .MuiAppBar-root{
	@apply bg-white;
}

.darkmode .MuiAppBar-root{
	@apply bg-black;
}

.lightmode .MuiAppBar-root #language/*, .lightmode .MuiAppBar-root #login*/{
	@apply text-black;	
}

.darkmode .MuiAppBar-root #language/*, .darkmode .MuiAppBar-root #login*/{
	@apply text-white;	
}

.lightmode .MuiTab-root{
	color: rgba(0, 0, 0, 0.6);
}

.darkmode .MuiTab-root{
	@apply text-white;
}

.barbottom-div{
    /*z-index:2;*/
    @apply w-full;
}

.barbottom-div .MuiPaper-root{
    /*@apply max-w-screen-xl w-full mx-auto;*/
    @apply w-full;
}

.menuiconsbottom .MuiButtonBase-root{
    /*min-width: unset !important;*/
}

.MuiBottomNavigation-root .MuiBadge-badge{
    /*top: 7px !important;*/
    /*background-color: rgb(156, 39, 176);*/
   	/*@apply bg-pink text-white;*/
}

.animal-name,.person-name{
	@apply font-bold ml-2;
}

.app-button{
	@apply rounded;
	color: white;
	/*border-radius: 5px;*/
	border-style: none;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	height: 40px;
	line-height: 20px;
	list-style: none;
	margin: 0;
	outline: none;
	padding: 10px 16px;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition: color 100ms;
	vertical-align: baseline;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.login-button,.policy-link,.terms-link{
	@apply app-button app-background-color;
}

.google-button{
	@apply app-button text-white bg-black;
}

.animal-link,.person-link{
	@apply app-button app-background-color;
}

.animal-link-edit,.person-link-edit{
	@apply app-button app-background-color;
}

.animal-search,.person-search{
	@apply app-button bg-blue-500;
}

.animal-search-box{
	/*height: 350px;*/
}

.back-button, .cancel-button{
	@apply app-button;
	background-color: black;
	border: 1px solid white;
}

input,textarea{
	box-shadow: none !important;
}

.delete-button{
	@apply app-button bg-red-600;
}

.animal-link:hover, .animal-link:focus,
.animal-link-edit:hover, .animal-link-edit:focus,
.person-link:hover, .person-link:focus,
.person-link-edit:hover, .person-link-edit:focus,
.login-button:hover,.login-button:focus,
.back-button:hover,.back-button:focus 
{
 	background-color: #F082AC;
}

.login-remember{
	@apply ms-2 text-sm text-gray-600;
}

.login-status{
	@apply mb-4 font-medium text-sm text-green-600;
}

.login-label{
	/*@apply block font-medium text-sm text-gray-700;*/
	@apply block;
}

.app-input-generic{
	@apply rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500;
	@apply w-full;	
}

.lightmode .app-input{
	@apply app-input-generic border-gray-300 bg-white;
}

.darkmode .app-input{
	@apply app-input-generic border-white bg-black;
}

.app-input-readonly{
	@apply bg-slate-100 !important;
}

.home-div-icon{
	@apply flex items-center text-center justify-center;
}

.social-div-icon{
	width: 100%;
	max-width: 50px;
	@apply text-center;
}

#bizum{
	@apply mx-auto w-full;
}

.home-icon{
	font-size: 85px !important;
	@apply mb-2;
}

.home-image-icon{
	width: 100%;
	max-width: 150px;
	@apply mb-2;
}

.social-icon{
	font-size: 40px !important;
}

#social-icon-whatsapp{
	@apply text-green-800;
}

#social-icon-facebook{
	@apply text-blue-800;
}

#social-icon-instagram{
	@apply text-rose-400;
}

#social-icon-twitter{
	@apply text-cyan-800;
}

#social-icon-youtube{
	@apply text-rose-800;
}

#social-icon-blog{
	@apply text-blue-700;
}

#social-icon-soundcloud{
	@apply text-orange-700;
}

#social-icon-ladridos{
	@apply text-orange-500;
}

.home-div-box{
	@apply border border-neutral-800 rounded p-1 mb-8;
}

.home-colaboration-list{
	@apply pl-4 font-bold;
}

ul{
	list-style: unset !important;
}

.home-colaboration-sponsorship-list{
	@apply pl-4;
}

.home-colaboration-sponsorship-list li{
	@apply pt-4;
}

.social-div{
	@apply flex items-center justify-center;
}

.partners-div, .apu-div{
	@apply w-1/2 border border-neutral-800 rounded p-1 mb-2;
}

.partners-image, .apu-image{
	@apply mx-auto;
	height: 200px;
	max-width: 100%;
}

.paragraph-top-separation{
	@apply mt-4;
}

.pagination-div{
	list-style: none !important;
	@apply py-2;
}

.pagination{
	@apply flex justify-center w-full;
}

.hide-scroll::-webkit-scrollbar {
	display: none; /* for Chrome, Safari and Opera */
}

.hide-scroll{
 	-ms-overflow-style: none;  /* IE and Edge */
 	scrollbar-width: none;  /* Firefox */
}

.animal-record-div,.person-record-div{
	@apply border border-neutral-800 rounded p-1 text-center;
}

#animal-parents{
	@apply text-center border border-neutral-800 rounded p-1;
}

.animal-record-title{
	@apply font-bold;
}

.person-record-title{
	@apply text-right font-bold;
}

.person-record-value{
	@apply text-left;
}

#filter{
	@apply app-text-color;	
}

.hiddenIcon{
	@apply text-white !important;
}

.deleteIcon{
	@apply text-red-600 !important;
}

.viewIcon, .editIcon, .searchIcon, .saveIcon{
	@apply app-text-color !important;
}

.closeIcon{
	@apply text-black !important;
}

.video{
	width: 100%;
	/*max-width: 450px;*/
    height: 300px;
}